<div class="fl-row-content-wrap">
    <div class="fl-row-content fl-row-full-width fl-node-content">

        <div class="fl-col-group fl-node-58d2a0b210f4b" data-node="58d2a0b210f4b">
            <div class="fl-col fl-node-58d2a0b211037 fl-col-has-cols" data-node="58d2a0b211037">
                <div class="fl-col-content fl-node-content">

                    <div class="fl-col-group fl-node-58d2a0b211084 fl-col-group-nested fl-col-group-equal-height fl-col-group-align-center"
                        data-node="58d2a0b211084">
                        <div class="fl-col fl-node-58d2a0b2110d2 fl-col-bg-overlay" data-node="58d2a0b2110d2">
                            <div class="fl-col-content fl-node-content">
                                <div class="fl-module fl-module-rich-text fl-node-58d2a0b211190"
                                    data-node="58d2a0b211190">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-rich-text">
                                            <p style="text-align: center;"><strong><span
                                                        style="font-size: 48px;">Contacto</span></strong></p>
                                            <p style="text-align: center;"><strong>Teléfono:</strong></p>
                                            <p style="text-align: center;">(+57 2) 483 74 69</p>
                                            <p style="text-align: center;"><strong>Celular:</strong></p>
                                            <p style="text-align: center;">&nbsp;(+57) 317 278 2109</p>
                                            <p style="text-align: center;"><strong>Dirección:</strong></p>
                                            <p style="text-align: center;">Cra 40 5 A – 88 Tequendama<br>
                                                Cali- Colombia</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-rich-text fl-node-5cf9588f176e9"
                                    data-node="5cf9588f176e9">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-rich-text">
                                            <p style="text-align: center;"><strong>Horario de atención:</strong><br>
                                                Lunes a viernes de 8:00a.m. a 12:00p.m. y de 2:00p.m. a 6:00p.m.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fl-col fl-node-58d2a0b211146 fl-col-small" data-node="58d2a0b211146">
                            <div class="fl-col-content fl-node-content">
                                <div class="fl-module fl-module-rich-text fl-node-58d2a70838914"
                                    data-node="58d2a70838914">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-rich-text">
                                            <p><span style="font-size: 32px; color: #333333;">Formulario de
                                                    contacto</span></p>
                                            <p style="text-align: justify;">Déjanos tu mensaje, nos pondremos en
                                                contacto contigo cuanto antes.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-html fl-node-594d5a7cd4918" data-node="594d5a7cd4918">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-html">
                                            <div role="form" class="wpcf7" id="wpcf7-f421-p66-o1" lang="es-ES"
                                                dir="ltr">
                                                <div class="screen-reader-response">
                                                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                                                    <ul></ul>
                                                </div>
                                                <form action="/contacto/#wpcf7-f421-p66-o1" method="post"
                                                    class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                                    <div style="display: none;">
                                                        <input type="hidden" name="_wpcf7" value="421">
                                                        <input type="hidden" name="_wpcf7_version" value="5.5.2">
                                                        <input type="hidden" name="_wpcf7_locale" value="es_ES">
                                                        <input type="hidden" name="_wpcf7_unit_tag"
                                                            value="wpcf7-f421-p66-o1">
                                                        <input type="hidden" name="_wpcf7_container_post" value="66">
                                                        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                                    </div>
                                                    <p><label class="ancho"> Nombre (requerido)<br>
                                                            <span class="wpcf7-form-control-wrap your-name"><input
                                                                    type="text" name="your-name" value="" size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                    aria-required="true" aria-invalid="false"></span>
                                                        </label></p>
                                                    <p><label class="ancho"> Tu correo electrónico (requerido)<br>
                                                            <span class="wpcf7-form-control-wrap your-email"><input
                                                                    type="email" name="your-email" value="" size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                    aria-required="true" aria-invalid="false"></span>
                                                        </label></p>
                                                    <p><label class="ancho"> Teléfono (requerido)<br>
                                                            <span class="wpcf7-form-control-wrap telefono"><input
                                                                    type="tel" name="telefono" value="" size="40"
                                                                    class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                                                    aria-required="true"
                                                                    aria-invalid="false"></span></label></p>
                                                    <p><label class="ancho"> Mensaje<br>
                                                            <span class="wpcf7-form-control-wrap your-message"><textarea
                                                                    name="your-message" cols="40" rows="10"
                                                                    class="wpcf7-form-control wpcf7-textarea"
                                                                    aria-invalid="false"></textarea></span> </label></p>
                                                    <p><label> <span class="wpcf7-form-control-wrap politicas"><span
                                                                    class="wpcf7-form-control wpcf7-acceptance"><span
                                                                        class="wpcf7-list-item"><input type="checkbox"
                                                                            name="politicas" value="1"
                                                                            aria-invalid="false"
                                                                            checked="checked"></span></span></span> <a
                                                                href="http://fisioes.com.co/wp-content/uploads/sites/49/2017/06/tratamientos-de-datos.pdf"
                                                                target="_blank">He leído las políticas de tratamiento de
                                                                datos personales </a><br>
                                                        </label></p>
                                                    <p><input type="submit" value="Enviar"
                                                            class="wpcf7-form-control has-spinner wpcf7-submit"><span
                                                            class="wpcf7-spinner"></span></p>
                                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>